.contnav{
    position:absolute;
    bottom:10px;
          
}
.formulario{
    top: 30%;        
}
.bl{
    top: 20%;
    
}  
.carta1{
    margin-top: 20%;
}
.carta2{
    margin-top: 5%;
}
.linea1{
    margin-left: 1%;
}
.imageng{
    margin-left: 20%;
}